body{
    width: 100%;
    height: 1vh;
    
}

#nav_menu{
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    margin-right: 50px;

}
