body{
    position: absolute;
    width: 100%;
    height: 100vh;
    
}

#nav_menu{
    background-color: azure;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 30px;
    list-style: none;
    margin-right: 50px;
   
    

}

#hamburger_menu_container{
   display: none;
   align-content: flex-end;
   flex-direction: column;
   margin-left: 80%;
   margin-top: 20px;
   
    
}

.hamburger_menu_line{
    border-top-style: solid;
    height: 10px;
    width: 50px;
    caret-color: transparent;
    
    
}

#hamburget_menu_container_inactive{
    
    display: none;
    align-content: flex-end;
    flex-direction: column;
    margin-left: 80%;
    margin-top: 20px;
   
    transform: rotate()
}

#pop_up_menu{
    position:fixed;
    right: 0;
    top:100px;
    left: 50px;
    z-index: 2;
    width: 90%;
    height: 100vh;
    background-color: rgb(212, 156, 156);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


}

#pop_up_menu li{
    list-style: none;
    font-size: 30px;
}


